<div class="container">
  <div class="jumbotron">
    <h1>Kotaku Scraper</h1>
    <form action="/scrape" method="GET">
      <input type="hidden">
      <button class="btn btn-info btn-block button-text button-scraper" type="submit">Click here to get the latest articles from Kotaku!</button>
    </form>
  </div>

  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Articles</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <ul>
            {{#each articles}}
              
                <li>
                  <h1><a href={{this.link}}><i>{{this.title}}</i></a></h1>
                  <br>
                  <h4><i>{{this.author}}</i>   <h6>{{this.datePub}}</h6></h4>
                  <br>
                  <br>
                  <img src={{this.img}}>
                  <br>
                  <br>
                  {{this.excerpt}}
                  <br>
                  <br>
                  <button type="button" class="btn btn-info comment-section" data-toggle="collapse" data-target="#{{this.id}}">Comments</button>
                  
                  <div id="{{this.id}}" class="collapse">
                    <hr>

                    

                    <h3>Comments</h3>
                    </br>
                    <ul>
                      {{#each this.comments}}
                        <li>
                          {{this.text}}
                          <br>
                          <br>
                          <p>Posted at: </p>{{this.createdAt}}
                          <br>
                          <br>
                          <form action="/delete/{{this.id}}" method="POST">
                            <input type="hidden">
                            <button class="btn btn-primary" type="submit">Delete comment</button>
                          </form>
                        </li>
                        <hr>
                      {{/each}}
                    </ul> 

                    <div class="alert alert-danger alert-dismissable fade in">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Cannot submit an empty comment!
                      </div> 
                    
                    <form action="/note/article/{{this.id}}" method="POST">
                      <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control comment" name="text" rows="5" id="{{this.id}}"></textarea>
                      </div>
                      <button class="btn btn-primary comment-submit" id="{{this.id}}" type="submit">Submit</button>
                    </form>
                  </div>

                  
                </li>

                <hr>
              
            {{/each}}
          </ul>
        </div>    
      </div>
    </div>
  </div>
</div>