<div class="container">
  <div class="jumbotron">
    <h1>Kotaku Scraper</h1>
  </div>

  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Articles</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <ul>
            {{#each articles}}
              
                <li>
                  <h1><a href={{this.link}}><i>{{this.title}}</i></a></h1>
                  <br>
                  <h4><i>{{this.author}}</i>   <h6>{{this.datePub}}</h6></h4>
                  <br>
                  <br>
                  <img src={{this.img}}>
                  <br>
                  <br>
                  {{this.excerpt}}
                  <br>
                  <br>
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{this.id}}">Comments</button>
                  
                  <div id="{{this.id}}" class="collapse">
                    <hr>
                    <h3>Comments</h3>
                    </br>
                    <ul>
                      {{#each this.comments}}
                        <li>
                          {{this.text}}
                          <br>
                          <br>
                          <form action="/delete/{{this.id}}" method="POST">
                            <input type="hidden">
                            <button class="btn btn-primary" type="submit">Delete comment</button>
                          </form>
                        </li>
                        <hr>
                      {{/each}}
                    </ul>  
                    
                    <form action="/note/article/{{this.id}}" method="POST">
                      <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" name="text" rows="5" id="comment"></textarea>
                      </div>
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                  </div>

                  
                </li>

                <hr>
              
            {{/each}}
          </ul>
        </div>    
      </div>
    </div>
  </div>
</div>